<h1>Make a new rental</h1>
<form action="<%= rentals_url %>" method="post">
  <label for="start_date">Pick a Start Date</label>
  <input type="date" name="cat_rental_request[start_date]" id="start_date">
  <br>
  <label for="end_date">Pick an End Date</label>
  <input type="date" name="cat_rental_request[end_date]" id="end_date">
  <br>
  <label for="which_cat">Choose a cat</label>
  <select name="cat_rental_request[cat_id]">
    <% @cats.each do |cat| %>
      <option value="<%= cat.id %>"><%= cat.name %></option>
    <% end %>
  </select>
  <input type="submit" value="Submit dates">
</form>
