<h1> Create a new cat!</h1>
<%= render "form", cat: @cat, action: :new%>
<!-- <form action="/cats" method="post">
  <label for="cat_name">First name</label>
  <input type="text" name="cat[name]" id="cat_name">
  <br>
  <label for="cat_birth_date">Birth date</label>
  <input name="cat[birth_date]" id="cat_birth_date" type="date">
  <br>
  <label>Sex</label>
  <div>
    <input name="cat[sex]" id="cat_sex_m" type="radio" value="M">
    <label for="cat_sex_m">Male</label>
    <input name="cat[sex]" id="cat_sex_f" type="radio" value="F">
    <label for="cat_sex_f">Female</label>
  </div>

  <label for="cat_description">Description</label>
  <textarea name="cat[description]" id="cat_description"></textarea>
  <br>

  <input type="submit" value="Create cat!"> -->

<!-- TODO ask for colors -->
  <!-- <label for="cat_coat_color">Coat color</label> -->
  <!-- dropdown -->
  <!-- <select name="cat[coat_color]"> -->
    <!-- `brown` is the value that will be submitted to the server; user is
         displayed "Brown" as the choice -->
    <!-- <option value="brown">Brown</option> -->
    <!-- <option value="black">Black</option>
    <option value="blue">Blue</option>
  </select> -->
<!-- </form> -->
